// Primary color
$dark-cyan: hsl(180, 29%, 50%);

// Neutral colors
$light-gray-bg: hsl(180, 52%, 96%);
$light-gray-filter: hsl(180, 31%, 95%);
$dark-gray-cyan: hsl(180, 8%, 52%);
$very-dark: hsl(180, 14%, 20%);